<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Layout/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Document</title>
</head>
<body>
    <div id="center">
        <div id="max-w">
    <div class="width-divs" id="upper-bar">
        <button id="bar-profile-button"><img id="immagine-profilo" src="/Img/logo.png" alt="immagine-del-profilo"><p id="p-let">letteraturainpillole_</p></button>
        <div class="last-icon">
        <button id="sec-bar-pro"><span class="material-symbols-outlined">more_horiz</span></button>
    </div>
    </div>
    <div>
        <img id="image" src="/Img/Verbo-insemprarsi.jpg" alt="immagine-del-verbo">
    </div>
    <div class="width-divs" id="icons-bar">
        <button class="buttons-icons"><span class="material-symbols-outlined">favorite</span></button>
        <button class="buttons-icons"><span class="material-symbols-outlined">add_comment</span></button>
        <button class="buttons-icons"><span class="material-symbols-outlined">send</span></button>
        <div class="last-icon">
        <button class="buttons-icons"><span class="material-symbols-outlined">bookmark</span></button>
    </div>
    </div>
    <div class="width-divs" id="likes-bar">
        <button class="buttons-mod">Liked by elisa.rossi and others</button>
    </div>
    <div class="width-divs" id="caption">
        <p>
            <button class="buttons-mod">letteraturainpillole_</button> Il Canto X del Paradiso della Commedia narra l’ascensione al Cielo del Sole di Dante e Beatrice, che superano i primi tre Cieli in cui i beati erano condizionati dagli influssi dei rispettivi astri. Entrano quindi nel Paradiso vero e proprio, caratterizzato da un innalzamento della materia... <button class="buttons-mod">more</button>
        </p>
    </div>
</div>
</div>
</body>
</html>